/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Basic Common Style */
body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

.bg-phone-arena {
    background: rgb(108,99,255);
    background: linear-gradient(45deg, rgba(108,99,255,1) 0%, rgba(248,164,216,1) 74%);
}

.text-phone-arena {
    color: rgb(108,99,255);
    font-weight: 600;
}

.card {
    border: none;
    border-radius: 15px;
}

/* Phone details Style */
#phone-detail .card {
    max-width: 50rem;
}

/* Style For Button */
.btn {
    color: white;
    border: none;
    transition: all .5s linear;
}

.btn:hover {
    color: white;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: scale(1.05);
}
